---
import Layout from '../layouts/Layout.astro';
import TruthTable from '../components/TruthTable'
---

<Layout title="Logica Matematica.">
	<main>
		<h1>Logica <span class="text-gradient">Matematica</span></h1>
		<div class="instructions">
			<h2>Instrucciones de Uso</h2>
			<ul>
			<li>Usa letras mayúsculas <code>(A, B, C, etc.)</code> para representar variables , seguidas de un numero <code>(A1, B2, C3, etc.)</code>.</li>
			<li>Los operadores válidos en este momento son:
				<ul>
				<li>&& (AND)</li>
				<li>|| (OR)</li>
				<li>! (NOT)</li>
				</ul>
			</li>
			<li>Ejemplo de entrada válida: <strong>A1 && (B2 OR C3)</strong></li>
			</ul>
		</div>
		<TruthTable client:idle/>
	</main>
</Layout>

